<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">ホームとか利用サービス</li>
    <li><a href="%HOME%/index.html">ホーム</a></li>
    <li><a href="http://www.twitter.com/ashiato45">Twitter</a></li>
    <li><a href="https://github.com/">GitHub</a></li>
    <li><a href="http://book.akahoshitakuya.com/">読書メーター</a></li>
    <li><a href="http://ashiato45.hatenablog.jp/">ブログ</a></li>
    <li><a href="http://d.hatena.ne.jp/sle/">旧ブログ</a></li>
    <li class="nav-header">ブラウザ上で遊べるゲーム</li>
    <li><a href="%HOME%/flow.html">FLOW</a></li>
    <li class="nav-header">ソフトウェア</li>
    <li><a href="%HOME%/orihalconb.html">Orihalconb</a></li>
    <li><a href="%HOME%/molybdenum.html">森武伝</a></li>
    <li><a href="%HOME%/mpb.html">Math + Bullet</a></li>
    <li><a href="%HOME%/ski.html">スキースイカ割り</a></li>
    <li><a href="%HOME%/timebroken.html">時間に壊されるゲーム(仮称)</a></li>
    <li><a href="%HOME%/hellwalk.html">散歩D版</a></li>
    <li class="nav-header">数学</li>
    <li><a href="%HOME%/postmodern_analysis.html">ポストモダン解析学</a></li>
    <li class="nav-header">その他</li>
    <li><a href="%HOME%/aprilfool2010.html">エイプリルフール2010</a></li>
  </ul>
</div>